

{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('list_user')}}

{% endblock %}
{% block body %}

	{% include 'nav.html.twig' %}

<main>
    <h1>Chose the genres that you are interested:</h1>

    <form method="post">
        {{ form_widget(formGenre) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</main>
{% endblock %}
