{% extends 'base.html.twig' %}

{% block title %}Hello RecommendationServiceController!{% endblock %}

{% block body %}
<h1>Similarité des Livres</h1>
    
    <table>
        <thead>
            <tr>
                <th>Livre</th>
                <th>Similarité</th>
            </tr>
        </thead>
        <tbody>
            {% for similarity in similarities %}
                <tr>
                    <td>{{ similarity.livre.titre }}</td>
                    <td>{{ similarity.valSim }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
