{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('all_books')}}

{% endblock %}
{% block body %}


	{% include 'nav.html.twig' %}


	<main>
		<h1>Similarité des Livres</h1>

		<table>
			<thead>
				<tr>
					<th>Livre</th>
					<th>Resume</th>

				</tr>
			</thead>
			<tbody>
				{% for similarity in similarities %}
					<tr>
						<td>{{ similarity.titre }}</td>
						<td>{{ similarity.resume }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        </main>
	{% endblock %}
